<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_sensor"
        android:label="@string/name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/icon_sensor_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CustomAppTheme"
        android:windowSoftInputMode="stateHidden|adjustResize">

        <activity
            android:name=".MainActivity"
            android:label="@string/name"
            android:exported="true"
            android:theme="@style/Theme.CustomAppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MySettings"
            android:label="@string/settings"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SensorActivity"
            android:label="@string/createSensor"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>